.glass{
    background: rgba(255,255,255,0.55);
    border-radius: 16px;
    box-shadow: 0 4px 0px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255,255,255,0.3);
    @apply border-4 border-gray-50 shrink-0 h-fit w-[30vw] rounded-3xl py-10 px-7 min-w-max  ;
}
.glass2{
    background: rgba(255,255,255,0.85);
    border-radius: 16px;
    /* box-shadow: 0 8px 0px #4747470b; */
    /* backdrop-filter: blur(10.1px); */
    border: 1px solid rgba(255,255,255,0.3);
    @apply flex flex-col text-[1.2rem] usm:text-[1.4rem] md:text-[2rem] shrink-0 h-3/4 w-[90vw] rounded-3xl py-4 px-8 ;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200
}


@media screen and (max-width : 800px) {
    .profile_img{
        @apply w-[100px] 
    }
}

.textbox{
    @apply px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none
}

.btn{
    @apply bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl text-center shadow-sm 
}

.btn:hover{
    background-color: #ff6a6a;
}

input[type=file]{
    display:none;
}
.hero_section{
    @apply flex flex-row justify-center
}
.hero{
    @apply mb-4 mx-2;
}
.hero:hover{
    background-image: 
    -moz-linear-gradient(180deg, rgba(255, 23, 23, 0.5) 0%, rgba(131, 11, 10, 0) 37.94%);
    filter: blur(1px);
    
}
.primary_btn{
    background-color: #A7B99D ;
    width: 146px;
    height: 38px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}