/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rev_in{
  /* position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0; */
  color:#f8ce0b;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.bg1{
  background-image: url("./Components/Images/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 5px;
}
.bg2{
  background-image: url("./Components/Images/bg2.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 5px;
}
.searchResult::-webkit-scrollbar{
  display: none;
}